.side-nav{
    background-color: #3f51b5;
    width: 10.5rem;
}

.side-nav a {
    color: #FFF;
}

.side-nav i{
    padding-right: 0.825rem;
}

.content {
    padding: 1rem;
    background-color: #FFF;
}